*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.sectionOne{
    background: url(images/bentley.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 961px;
    color: white;
}
.logo{

}
.logo > h1{
    position: absolute;
width: 154px;
height: 44px;
left: 15%;
top: 29px;

font-family: 'Criteria CF';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */
letter-spacing: 0.05em;
color: #FFFFFF;
}
.logo > p{
    position: absolute;
width: 60px;
height: 16px;
left: 15%;
top: 66px;
white-space: nowrap;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.03em;

/* BENTLEY PRIMARY */

color: #C59042;

}
.navlink{
    
    list-style-type: none;
    margin-left: 45%;
    padding-top: 46px;

}
.navlist{
    float: left;
    text-decoration: none;
    color: white;
    margin-right: 20px;

    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.02em;
}
.contactUs{
    
}
.contactUsbtn{
    box-sizing: border-box;

/* position: absolute; */
width: 165px;
height: 37px;
margin-top: -10px; 
background-color: transparent;
color: white;
max-width: 50%;

border: 1.5px solid #C59042;
}

.bigText{
    width: 706px;
    height: 116px;
    font: normal normal bold 55px/68px Poppins;
    /* font-size: 48px;
    line-height: 58px; */
    margin: auto;
    text-align: center;
    position: relative;
    top: 150px;
    max-width: 100% ;
}
.discover{
    position: relative;
width: 112px;
height: 16px;
/* left: 664px; */
top: 240px;
margin: auto;
white-space: nowrap;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;

/* BENTLEY WHITE */

color: #FFFFFF;
}
.discover > a{
    text-decoration: none;
    color: inherit;
}
#sectionOneDown{
    /* width: 40%; */
    width: 540px;
    height: 180px;
    margin: auto;
    text-align: center;
    font: normal normal bold 18px/23px Raleway;
    color: #3c3c3c;
    max-width: 100%;
    margin-top: 80vh;
}   
#sectionTwo{
    display: flex;
    margin-top: 50px;
    
}
.sectionTwoLeft{
    min-width: 40%;
    padding-left: 50px;
}
.sectionTwoLeft > h1{
    /* font: normal normal bolder 48px/58px Poppins;
    margin-top: 150px;
    width: auto;
    max-height: 219px;*/

    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    line-height: 58px;
    letter-spacing: 0.05em;
    width: auto;
    /* max-height: 219px; */
    color: #1e2e3e;
    border-left: 2px solid #C59042;
    margin-left: 40%;
    margin-top: 35%;
    padding-left: 10px;
} 



.sectionTwoRight{
    min-width: 60%;
}

.sectionTwoRight > p{
    /* font: normal normal bold 14px/17px Raleway;
    font-weight: 700;
    letter-spacing: 0.05em;
    transform: rotate(-90deg);
    text-align: center; */
    position: absolute;
    width: 111px;
    height: 17px;
    left: 36%;
    top: 1056px;
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
/* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;

color: #000000;

transform: rotate(-90deg);

}

.sectionTwoRight > img{
    position: absolute;
    width: 40vw;
    height: 100vh;
} 

.sectionThree{
    /* height: 900px; */
    margin-top: 50px;
    background-color: #1e2e3e;
}





/*.sectionFour{
    height: 200vh;
    background-color: #ffffff;
}
.sectionFive{
    height: 80vh;
    background-color: #1e2e3e;
}
.sectionSix{
    height: 110vh;
    background-color: #ffffff;
} */
/* .footerContainer{
    height: 50vh;
    background-color: #1e2e3e;
} */